<div class="column-grouping">
    <!-- Column Drop Zones (Groups) -->
    <div class="group-container" cdkDropList [cdkDropListData]="columnGroups['group1']" (cdkDropListDropped)="onColumnDrop($event, 'groupFirst')" cdkDropListOrientation="vertical" id="groupFirst" >
        <div class="group-header">Group 1</div>
     
        <mat-chip-row *ngFor="let column of columnGroups['group1']"
        (removed)="removeItem(column)"
        [editable]="true"
        [aria-description]="'press enter to edit ' + column"
      >
        {{column}}
        <button matChipRemove >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
     
    </div>



    <!-- Main Data Table with Row Drag-and-Drop -->
    <mat-table #table [dataSource]="dataSource" class="example-table" cdkDropList (cdkDropListDropped)="onRowDrop($event)"  [cdkDropListOrientation]="'vertical'" >
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="column"   (cdkDragDropped)="onHeaderDrop($event, 'groupFirst')">{{column}}</mat-header-cell>
            <mat-cell *matCellDef="let element" cdkDrag>{{element[column]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="displayedColumns"></mat-row>
    </mat-table>
</div>

  